<div class="back">
  <div class="send-btn-wrapper">
    <button type="submit" class="btn btn-primary send-btn" routerLink="/home">
      <span class="send-btn-text">Back to home</span>
    </button>
  </div>
</div>

<section class="feedback-section">
  <img src="../../assets/like-icon.svg" class="like-icon" />
  <span class="thank-you">Thank you for your Feedback </span>

  <div>
    <div>
      <span class="name"> {{ reportSubmitted.name }} </span>
      <span class="joiner"> with the email </span>
      <span class="email"> {{ reportSubmitted.email }} </span>
    </div>
    <div class="d-flex flex-column" style="margin-top: 10px">
      <span class="figma-land">Figma Land has recieved you feedback, </span>
      <span class="message"> "{{ reportSubmitted.message }}" </span>
      <span class="figma-land" style="margin-bottom: 50px">
        and respone is going to be available once review is complete</span
      >
    </div>
  </div>
</section>
