.back {
  padding: 15px 7px;
}
.send-btn-wrapper {
  margin-left: 35px;

  .send-btn {
    padding: 8px 40px;
    background: #2091f9;
    border-radius: 35px;
  }

  .send-btn-text {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
}

.feedback-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
}

.like-icon {
  background-color: aliceblue;
  border-radius: 30px;
  align-self: center;
  width: 35%;
  margin-bottom: 50px;
}

.thank-you {
  font-family: "Roboto";
  font-size: 26px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
  margin-bottom: 20px;
}

.joiner {
  font-family: "Roboto";
  font-size: 20px;
  color: #252b42;
}

.name,
.email,
.message {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252b42;
}

.name,
.email {
  margin-bottom: 25px;
}

.figma-land {
  font-family: "Roboto";
  font-size: 20px;
  letter-spacing: 0.2px;
  color: #252b42;
}

/* Responsiveness */

//ONlY SMALL DEVICES
@media (max-width: 575.98px) {
}

//TABLETS UPWARDS
@media (min-width: 768px) {
  .like-icon {
    width: 15%;
  }

  .thank-you {
    font-size: 45px;
  }

  .name,
  .email,
  .message {
    font-size: 25px;
  }
}
