<section class="features">
  <div class="fingertips">At your fingertips</div>
  <div class="first">
    <div class="header">Features</div>
    <div class="sub-text">
      Most calendars are designed for teams. Slate is designed for freelancers
    </div>
  </div>

  <div class="d-flex">
    <div class="col-10">
      <img src="../../assets/macbook-screen.svg" class="macbook-screen" />
    </div>
    <div class="col-2">
      <div class="d-flex flex-column" style="margin-top: 200px">
        <div class="d-flex icon-text-wrapper">
          <img src="../../assets/cutlery.svg" class="cutlery-icon" />
          <span class="icon-text">At your fingertips</span>
        </div>
        <span class="details">
          Slate helps you see how many more days you need to work to reach your
          financial goal.
        </span>
      </div>
      <div class="d-flex flex-column" style="margin-top: 68px">
        <div class="d-flex icon-text-wrapper">
          <img src="../../assets/cutlery.svg" class="cutlery-icon" />
          <span class="icon-text">At your fingertips</span>
        </div>
        <span class="details">
          Slate helps you see how many more days you need to work to reach your
          financial goal.
        </span>
      </div>
    </div>
  </div>
</section>
