<section class="features">
  <div>At your fingertips</div>
  <div>Features</div>
  <div>
    Most calendars are designed for teams. Slate is designed for freelancers
  </div>

  <div>
    <img src="../../assets/macbook-screen.svg" class="macbook-screen" />
    <div>
      <div>
        <img src="../../assets/cutlery.svg" class="macbook-screen" />
        <div>At your fingertips</div>
        <div>
          Slate helps you see how many more days you need to work to reach your
          financial goal.
        </div>
      </div>
      <div>
        <img src="../../assets/cutlery.svg" class="macbook-screen" />
        <div>At your fingertips</div>
        <div>
          Slate helps you see how many more days you need to work to reach your
          financial goal.
        </div>
      </div>
    </div>
  </div>
</section>
