.features {
  margin-bottom: 80px;
}

.fingertips {
  font-family: "Roboto";
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-bottom: 12px;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -40px;

  .header {
    font-family: "Roboto";
    font-size: 46px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252b42;
  }
  .sub-text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-bottom: 50px;
  }
}

.macbook-screen {
  width: 100%;
}

.icon-text-wrapper {
  margin-bottom: 4px;
}

.cutlery-icon {
  width: 10%;
}

.icon-text {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252b42;
  margin-left: 10px;
  margin-top: 2px;
}

.details {
  font-family: "Roboto";
  font-size: 13px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #374754;
}

/* Responsiveness */

//ONlY SMALL DEVICES
@media (max-width: 575.98px) {
  .first-sect {
    margin-top: 25px;
    align-items: center;
  }

  .second-sect {
    margin-top: 55px;
    align-items: center;
  }

  .details {
    text-align: center;
    width: 50%;
  }
}

//TABLETS UPWARDS
@media (min-width: 768px) {
  .first {
    .sub-text {
      width: 24%;
    }
  }

  .details-wrapper {
    display: flex;
  }

  .first-sect {
    margin-top: 185px;
  }

  .second-sect {
    margin-top: 68px;
  }
}
