.text-danger {
  margin-left: 45px;
}

.back {
  padding: 15px 7px;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  .contact-us {
    font-family: "Roboto";
    font-size: 37px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252b42;
    margin-bottom: 10px;
  }

  .sub-text {
    font-family: "Roboto";
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #374754;
    display: flex;
    flex-wrap: wrap;
    width: 75%;
  }
}

.icons-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;

  .icons {
    margin-right: 30px;
  }
}

.info-text {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #374754;
}

.form-wrapper {
  padding: 52px 50px;
  background: #ffffff;
  border: 1px solid #dddddd;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 75px;

  .form-header-wrapper {
    margin-bottom: 30px;

    .form-header {
      font-family: "Roboto";
      font-size: 22px;
      line-height: 33px;
      letter-spacing: 0.1px;
      color: #252b42;
    }
  }

  .form-group {
    margin-bottom: 38px;
  }

  .name-input,
  .email-input {
    padding: 19px 20px;
    border-radius: 39px;
  }

  .name-input,
  .email-input,
  .message-input {
    box-sizing: border-box;
    background: #f5f5f5;
    border: 1px solid #e8e8e8;
    margin-bottom: 11px;
    width: 80%;
    margin-left: 37px;
    font-size: 15px;
  }

  .message-input {
    padding: 23px 20px;
  }
}

.send-btn-wrapper {
  margin-left: 35px;

  .send-btn {
    padding: 8px 40px;
    background: #2091f9;
    border-radius: 35px;
  }

  .send-btn-text {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.2px;
  }
}

.map {
  width: 100%;
}

.map-small {
  width: 90%;
}

.pin-sect-text {
  width: 60%;
}

/* Responsiveness */

//ONlY SMALL DEVICES
@media (max-width: 575.98px) {
  .row-form {
    margin-left: 5px;
  }

  .info-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .pin-sect {
    padding-left: 50px;
    margin-bottom: 20px;
  }

  .pin-sect-text {
    text-align: justify;
    margin-left: 15px;
    margin-bottom: 8px;
  }

  .mobile-sect {
    position: relative;
    left: -21%;
    margin-bottom: 30px;
  }

  .mobile-sect-img {
    margin-right: 18px;
  }

  .mail-sect {
    position: relative;
    left: -12%;
  }

  .mail-sect-img {
    margin-right: 12px;
  }
}

//TABLETS UPWARDS
@media (min-width: 768px) {
  .form-wrapper {
    .name-input,
    .email-input,
    .message-input {
      width: 90%;
    }
  }

  .info-items {
    flex-direction: column;
  }

  .pin-sect-text {
    text-align: center;
  }

  .mobile-sect {
    margin-right: 50px;
  }

  .mobile-sect-img {
    width: 19%;
    margin-bottom: 21px;
    margin-top: 6px;
  }

  .mail-sect-img {
    width: 17%;
    margin-bottom: 22px;
    margin-top: 6px;
  }

  .first {
    .sub-text {
      width: 24%;
    }
  }
}
