<!-- <div class="container"> -->
<!-- <div class="back">
  <div class="send-btn-wrapper">
    <button type="submit" class="btn btn-primary send-btn" routerLink="/home">
      <span class="send-btn-text">Back to home</span>
    </button>
  </div>
</div> -->

<section class="contact">
  <div class="first">
    <div class="contact-us">Contact Us</div>
    <div class="sub-text">
      Most calendars are designed for teams. Slate is designed for freelancers
    </div>
  </div>

  <div class="icons-wrapper">
    <img src="../../assets/twitter.svg" class="icons" />
    <img src="../../assets/facebook.svg" class="icons" />
    <img src="../../assets/linkedin.svg" class="icons" />
  </div>

  <div class="d-flex justify-content-center" style="margin-bottom: 50px">
    <img src="../../assets/map.svg" class="map d-none d-md-flex" />
    <img src="../../assets/map-small.svg" class="map-small d-md-none" />
  </div>

  <div class="d-flex justify-content-center info-wrapper">
    <div class="d-flex align-items-center info-items pin-sect">
      <img
        src="../../assets/pin.svg"
        class="pin"
        style="width: 7%; margin-bottom: 14px"
      />
      <span class="info-text pin-sect-text"
        >6386 Spring St undefined Anchorage, Georgia 12473 United States</span
      >
    </div>
    <div class="d-flex align-items-center info-items mobile-sect">
      <img src="../../assets/phone.svg" class="mobile-sect-img" />
      <span class="info-text">(843) 555-0130</span>
    </div>
    <div class="d-flex align-items-center info-items mail-sect">
      <img src="../../assets/mail.svg" class="mail-sect-img" />
      <span class="info-text">willie.jennings@example.com</span>
    </div>
  </div>

  <div class="row row-form">
    <div class="col-md-8 mx-auto form-wrapper">
      <div class="form-header-wrapper text-center">
        <span class="form-header">Contact Us</span>
      </div>
      <div class="form-body">
        <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input
              type="text"
              class="form-control name-input"
              placeholder="Your Name"
              formControlName="name"
            />
            <span
              class="text-danger"
              *ngIf="
                (registerFormControl.name.touched || submitted) &&
                registerFormControl.name.errors?.required
              "
            >
              Name is required
            </span>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control email-input"
              placeholder="Your Email"
              formControlName="email"
            />
            <span
              class="text-danger"
              *ngIf="
                (registerFormControl.email.touched || submitted) &&
                registerFormControl.email.errors?.required
              "
            >
              Email is required
            </span>
            <span
              class="text-danger"
              *ngIf="
                registerFormControl.email.touched &&
                registerFormControl.email.errors?.email
              "
            >
              Enter a valid email address
            </span>
          </div>

          <div class="form-group">
            <textarea
              class="form-control message-input"
              type="text"
              placeholder="Your Message"
              formControlName="message"
              rows="10"
            ></textarea>
            <span
              class="text-danger"
              *ngIf="
                (registerFormControl.message.touched || submitted) &&
                registerFormControl.message.errors?.required
              "
            >
              Message is required
            </span>
          </div>
          <div class="send-btn-wrapper">
            <button type="submit" class="btn btn-primary send-btn">
              <span class="send-btn-text">Send</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- </div> -->
