<div class="container">
  <section class="contact">
    <div>Contact Us</div>
    <div>
      Most calendars are designed for teams. Slate is designed for freelancers
    </div>

    <div>
      <img src="../../assets/twitter.svg" class="twitter" />
      <img src="../../assets/facebook.svg" class="facebook" />
      <img src="../../assets/linkedin.svg" class="linkedin" />
    </div>

    <img src="../../assets/map.svg" class="macbook" />

    <div>
      <div>
        <img src="../../assets/pin.svg" class="pin" />
        <span
          >6386 Spring St undefined Anchorage, Georgia 12473 United States</span
        >
      </div>
      <div>
        <img src="../../assets/phone.svg" class="phone" />
        <span>(843) 555-0130</span>
      </div>
      <div>
        <img src="../../assets/mail.svg" class="mail" />
        <span>willie.jennings@example.com</span>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card">
            <div class="card-header">
              <h3>Contact Us</h3>
            </div>
            <div class="card-body">
              <form
                class="form"
                [formGroup]="registerForm"
                (ngSubmit)="onSubmit()"
              >
                <div class="form-group">
                  <label>Your Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="name"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      (registerFormControl.name.touched || submitted) &&
                      registerFormControl.name.errors?.required
                    "
                  >
                    Name is required
                  </span>
                </div>
                <div class="form-group">
                  <label>Your Email</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      (registerFormControl.email.touched || submitted) &&
                      registerFormControl.email.errors?.required
                    "
                  >
                    Email is required
                  </span>
                  <span
                    class="text-danger"
                    *ngIf="
                      registerFormControl.email.touched &&
                      registerFormControl.email.errors?.email
                    "
                  >
                    Enter a valid email address
                  </span>
                </div>

                <div class="form-group">
                  <label>Your Message</label>
                  <textarea
                    class="form-control"
                    type="text"
                    formControlName="message"
                    rows="5"
                  ></textarea>
                  <span
                    class="text-danger"
                    *ngIf="
                      (registerFormControl.message.touched || submitted) &&
                      registerFormControl.message.errors?.required
                    "
                  >
                    Message is required
                  </span>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                    <span>Send</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
