<div class="container">
  <section class="top-section">
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"> FIGMA LAND </a>
        <a class="navbar-brand" href="#"> Home </a>
        <a class="navbar-brand" href="#"> Product </a>
        <a class="navbar-brand" href="#"> Pricing </a>
        <a class="navbar-brand" href="#"> About </a>
        <a class="navbar-brand" href="#"> Contact </a>

        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Your Email"
            aria-label="Username"
          />
        </div>
        <button type="button" class="btn btn-primary">Subscribe</button>
      </div>
    </nav>

    <div>
      <div>At your fingertips</div>
      <div>Lightening fast prototyping</div>
      <span
        >Most calendars are designed for teams. Slate is designed for
        freelancers</span
      >
      <button type="button" class="btn btn-primary">Try For Free</button>
      <img src="../assets/macbook.svg" class="macbook" />
    </div>
  </section>

  <br />

  <app-features></app-features>

  <br />

  <app-contact></app-contact>
</div>
