.top-section {
  background-image: url("../../assets/top-bg.svg");
  padding: 25px 60px;
  margin-bottom: 50px;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 60px;

  .figma {
    font-size: 25px !important;
  }

  .input-group {
    width: 26%;
  }

  .header-input {
    padding: 19px 39px;
    background: #efefef;
    border: 1px solid #e8e8e8;
    border-radius: 39px;
    font-size: 14px;
  }

  .subscribe-btn,
  .login-btn {
    padding: 9px 25px;
    background: #ffffff;
    border-radius: 35px;

    .subscribe-text,
    .login-text {
      font-family: "Roboto";
      font-size: 16px;
      line-height: 14px;
      letter-spacing: 0.2px;
      color: #2091f9;
    }
  }
}

.navbar-brand,
.small-nav {
  font-family: "Roboto";
  font-size: 15px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

// .small-nav {
//   color: #000000;
// }

.fingertips {
  font-family: "Roboto";
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #ffffff;
  margin-bottom: 12px;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;

  .header {
    font-family: "Roboto";
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #ffffff;
    margin-bottom: 24px;
  }
  .sub-text {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.try-btn {
  padding: 10px 55px;
  background: #ffffff;
  border-radius: 35px;
  margin-bottom: 40px;

  .try-text {
    font-family: "Roboto";
    font-size: 20px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #2091f9;
  }
}

.macbook {
  width: 100%;
}

.small-nav-icon {
  rotate: -90deg;
}

.login-btn {
  margin-right: 17px;
  margin-left: -6px;
}

.small-nav-cancel {
  width: 30%;
  float: right;
}

.ham {
  flex-direction: column;
  left: 100%;
  top: 0%;
  background: #2091f9;
  position: fixed;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  -webkit-transform: translateX(-110%);
  -ms-transform: translateX(-110%);
  transform: translateX(-110%);
}

/* Responsiveness */

//ONlY SMALL DEVICES
@media (max-width: 575.98px) {
  .navbar {
    position: relative;
    left: -20%;
  }
}

//TABLETS UPWARDS
@media (min-width: 768px) {
  .first {
    .header {
      font-size: 46px;
    }

    .sub-text {
      font-size: 15px;
      width: 33%;
    }
  }

  .navbar-brand {
    padding: 0px 0px !important;
  }
}
